.ConfigForm fieldset {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(220, 220, 220);
    border-radius: 10px;
    padding: 10px 20px 20px;
    gap: 10px;

    legend {
        text-align: left;
        font-weight: 600;
        color: rgb(100, 100, 100);
    }

    div.rows,
    div.cols {
        display: flex;
        height: 2em;

        label {
            flex: 3;
            text-align: left;
        }

        input {
            flex: 1;
            min-width: 20px;
        }
    }

    div.select-file {
        label {
            text-align: left;
        }

        display: flex;
        flex-direction: column;

    }

    .mode-select {

        input {
            vertical-align: middle;
        }

        label {
            font-size: 12px;
        }
    }

    input[type='file'] {
        border: 1px solid rgb(181, 181, 181);
        border-radius: 3px;
        padding: 8px;
    }

    button {
        color: white;
        font-size: 13px;
        border-radius: 3px;
        background-color: rgb(0, 123, 255);
        transition: background-color 0.5s ease;
    }

    button:hover {
        background-color: rgb(0, 86, 179);
    }
}